body{

	background-image: url(../img/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.container{
	width: 960px;
	margin: 0 auto;
	margin-top: 200px;
}

.main-header{

	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: bottom center;
	text-align: center;
	
	padding: 1px;
}

.main-header__avatar{

	display: block;

	margin: 0 auto;
	margin-top: -70px;
	margin-bottom: 10px;

	
	
	border: 3px solid white;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
	border-radius: 999px;
}

.main-header h1 {
	
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	font-size: 50px;
	font-weight: 300;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.3);

	margin: 0 auto;
	margin-bottom: 20px;
}